body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-top: 30vh;
}

.parent {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  width: fit-content;
  padding: 0;
  font-size: 2rem;
  margin-top: 1rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: 0;
  background-color: transparent;
  margin-bottom: 1rem;
  color: inherit;
  align-self: center;
}

.copyIconBtn {
  margin-left: 12rem;
  padding: 0;
  height: 4rem;
  width: 4rem;
  border: solid;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.copyIconBtn:hover {
  border: 0;
}

img {
  height: 5rem;
  display: inline;
  margin: 0;
  width: 5rem;
  align-self: center;
}

.copy {
  display: flex;
  align-items: center;
  border-bottom: solid;
  margin-bottom: 1rem;
  align-self: center;
}

.toggleBtn {
  width: fit-content;
  align-self: center;
  cursor: pointer;
  display: block;
}
